.login {
  background-image: linear-gradient(#0000007e, #0000007e),
    url("../../assets/images/background_banner.jpg");
  height: 100vh;
  padding: 20px 8%;
}
.login__logo {
  width: 150px;
}
.login__form {
  background-color: rgba(0, 0, 0, 0.75);
  color: #e5e5e5;
  width: 100%;
  max-width: 450px;
  border-radius: 4px;
  padding: 60px;
  margin: auto;
}
.login__title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 28px;
}

.form__input {
  background-color: #333;
  color: #eee;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin: 12px 0;
  padding: 16px 20px;
}
.form__btn {
  background-color: #e50914;
  color: #e5e5e5;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}
.form-help {
  color: #b3b3b3;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}
.remember input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.login-switch {
  color: #737373;
  margin-top: 40px;
}
.login-switch span {
  color: #fff;
  font-weight: 500;
  margin-left: 6px;
  cursor: pointer;
}
