.navbar {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  color: #e5e5e5;
  width: 100%;
  padding: 20px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  position: fixed;
  z-index: 1;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar__logo {
  width: 90px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-list__item {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icons {
  font-size: 17px !important;
  cursor: pointer !important;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.profile {
  width: 35px;
  border-radius: 4px;
}
.drop-icon {
  font-size: 25px !important;
}
.dropdown {
  background-color: #333;
  width: max-content;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 18px 22px;
  border-radius: 3px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}
.dropdown__title {
  font-size: 13px;
  cursor: pointer;
}
.navbar-profile:hover .dropdown {
  display: block;
}
